<ion-app>
    <h1>Modifications</h1>
    <ion-button color="primary" (click)="checkCodePush()">Check for Updates</ion-button>
    <ion-button color="primary" (click)="checkCodePush()">Restart the App</ion-button>
</ion-app>
