<ion-header>
  <ion-toolbar>
    <ion-title>
      BLE Scanner
    </ion-title>
    <ion-button (click)="Scan()" slot="end">
      <ion-icon name="Bluetooth"></ion-icon>
      <p>Scan</p>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Updated Ionic App CodePush V0.0.5</h1>
  <h2>code-push release-cordova MyApp android --rollout 100% -m --description "Modification2" --targetBinaryVersion "~1.1.0"</h2>
  <h3>Add modifications 0.0.5</h3>
</ion-content>